*{ 
  box-sizing: border-box;
}

:root {
  font-family: system-ui, "Avenir", Helvetica, Arial, sans-serif, ;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0A0806;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --eternal-pink: #f82d98;
  --eternal-purple: #5833ef;
  --eternal-kiwi: #b5e42e;
  --eternal-mauve: #8c5a74;
  --eternal-dark: #0a0806;
  --eternal-white: #ffffff;
}

